USE [HOSTALVELAMORMVC]
GO
/****** Objeto: Table [dbo].[Cliente] Fecha de script: 16/08/2026 01:28:41 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[IdCliente] [int] IDENTITY(1,1) NOT NULL,
	[Dni] [varchar](8) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Telefono] [varchar](15) NULL,
	[Correo] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Dni] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Habitacion] Fecha de script: 16/08/2026 01:28:41 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Habitacion](
	[IdHabitacion] [int] IDENTITY(1,1) NOT NULL,
	[Numero] [varchar](10) NOT NULL,
	[Tipo] [varchar](50) NOT NULL,
	[Precio] [decimal](10, 2) NOT NULL,
	[Estado] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdHabitacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Numero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Reserva] Fecha de script: 16/08/2026 01:28:41 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reserva](
	[IdReserva] [int] IDENTITY(1,1) NOT NULL,
	[IdCliente] [int] NOT NULL,
	[IdHabitacion] [int] NOT NULL,
	[FechaEntrada] [date] NOT NULL,
	[FechaSalida] [date] NOT NULL,
	[CantidadDias] [int] NOT NULL,
	[PrecioDia] [decimal](10, 2) NOT NULL,
	[Total] [decimal](10, 2) NOT NULL,
	[Estado] [varchar](20) NOT NULL,
	[FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdReserva] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Reserva] ADD  DEFAULT ('Reservada') FOR [Estado]
GO
ALTER TABLE [dbo].[Reserva] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Reserva]  WITH CHECK ADD  CONSTRAINT [FK_Reserva_Cliente] FOREIGN KEY([IdCliente])
REFERENCES [dbo].[Cliente] ([IdCliente])
GO
ALTER TABLE [dbo].[Reserva] CHECK CONSTRAINT [FK_Reserva_Cliente]
GO
ALTER TABLE [dbo].[Reserva]  WITH CHECK ADD  CONSTRAINT [FK_Reserva_Habitacion] FOREIGN KEY([IdHabitacion])
REFERENCES [dbo].[Habitacion] ([IdHabitacion])
GO
ALTER TABLE [dbo].[Reserva] CHECK CONSTRAINT [FK_Reserva_Habitacion]
GO
/****** Objeto: StoredProcedure [dbo].[sp_BuscarCliente] Fecha de script: 16/08/2026 01:28:41 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_BuscarCliente]
@IdCliente INT
AS
BEGIN
    SELECT
        IdCliente,
        Dni,
        Nombre,
        Telefono,
        Correo
    FROM Cliente
    WHERE IdCliente = @IdCliente;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_BuscarHabitacion] Fecha de script: 16/08/2026 01:28:41 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_BuscarHabitacion]
@IdHabitacion INT
AS
BEGIN
    SELECT 
        IdHabitacion,
        Numero,
        Tipo,
        Precio,
        Estado
    FROM Habitacion
    WHERE IdHabitacion = @IdHabitacion;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_BuscarReserva] Fecha de script: 16/08/2026 01:28:41 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_BuscarReserva]
@IdReserva INT
AS
BEGIN
    SELECT
        R.IdReserva,
        R.IdCliente,
        C.Nombre AS NombreCliente,

        R.IdHabitacion,
        H.Numero AS NumeroHabitacion,
        H.Tipo AS TipoHabitacion,

        R.FechaEntrada,
        R.FechaSalida,
        R.CantidadDias,
        R.PrecioDia,
        R.Total,
        R.Estado,
        R.FechaRegistro

    FROM Reserva R

    INNER JOIN Cliente C
        ON R.IdCliente = C.IdCliente

    INNER JOIN Habitacion H
        ON R.IdHabitacion = H.IdHabitacion

    WHERE R.IdReserva = @IdReserva;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_CancelarReserva] Fecha de script: 16/08/2026 01:28:41 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CancelarReserva]
@IdReserva INT
AS
BEGIN

    BEGIN TRANSACTION;

    BEGIN TRY

        DECLARE @IdHabitacion INT;

        SELECT @IdHabitacion = IdHabitacion
        FROM Reserva
        WHERE IdReserva = @IdReserva;


        UPDATE Reserva
        SET Estado = 'Cancelada'
        WHERE IdReserva = @IdReserva;


        UPDATE Habitacion
        SET Estado = 'Disponible'
        WHERE IdHabitacion = @IdHabitacion;


        COMMIT TRANSACTION;

    END TRY

    BEGIN CATCH

        ROLLBACK TRANSACTION;
        THROW;

    END CATCH

END
GO
/****** Objeto: StoredProcedure [dbo].[sp_DashboardResumen] Fecha de script: 16/08/2026 01:28:41 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_DashboardResumen]
AS
BEGIN

    SELECT
        (SELECT COUNT(*)
         FROM Habitacion) AS TotalHabitaciones,

        (SELECT COUNT(*)
         FROM Habitacion
         WHERE Estado = 'Disponible') AS HabitacionesDisponibles,

        (SELECT COUNT(*)
         FROM Habitacion
         WHERE Estado = 'Ocupada') AS HabitacionesOcupadas,

        (SELECT COUNT(*)
         FROM Cliente) AS TotalClientes,

        (SELECT COUNT(*)
         FROM Reserva
         WHERE Estado = 'Reservada') AS ReservasActivas;

END
GO
/****** Objeto: StoredProcedure [dbo].[sp_EliminarCliente] Fecha de script: 16/08/2026 01:28:41 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_EliminarCliente]
@IdCliente INT
AS
BEGIN

    DELETE FROM Cliente
    WHERE IdCliente = @IdCliente;

END
GO
/****** Objeto: StoredProcedure [dbo].[sp_EliminarHabitacion] Fecha de script: 16/08/2026 01:28:41 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_EliminarHabitacion]
@IdHabitacion INT
AS
BEGIN

    DELETE FROM Habitacion
    WHERE IdHabitacion = @IdHabitacion;

END
GO
/****** Objeto: StoredProcedure [dbo].[sp_FinalizarReserva] Fecha de script: 16/08/2026 01:28:41 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_FinalizarReserva]
@IdReserva INT
AS
BEGIN

    BEGIN TRANSACTION;

    BEGIN TRY

        DECLARE @IdHabitacion INT;

        SELECT @IdHabitacion = IdHabitacion
        FROM Reserva
        WHERE IdReserva = @IdReserva;


        UPDATE Reserva
        SET Estado = 'Finalizada'
        WHERE IdReserva = @IdReserva;


        UPDATE Habitacion
        SET Estado = 'Disponible'
        WHERE IdHabitacion = @IdHabitacion;


        COMMIT TRANSACTION;

    END TRY

    BEGIN CATCH

        ROLLBACK TRANSACTION;
        THROW;

    END CATCH

END
GO
/****** Objeto: StoredProcedure [dbo].[sp_ListarClientes] Fecha de script: 16/08/2026 01:28:41 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ListarClientes]
AS
BEGIN
    SELECT
        IdCliente,
        Dni,
        Nombre,
        Telefono,
        Correo
    FROM Cliente
    ORDER BY Nombre;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_ListarHabitaciones] Fecha de script: 16/08/2026 01:28:41 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ListarHabitaciones]
AS
BEGIN
    SELECT 
        IdHabitacion,
        Numero,
        Tipo,
        Precio,
        Estado
    FROM Habitacion
    ORDER BY Numero;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_ListarHabitacionesDisponibles] Fecha de script: 16/08/2026 01:28:41 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ListarHabitacionesDisponibles]
AS
BEGIN
    SELECT
        IdHabitacion,
        Numero,
        Tipo,
        Precio,
        Estado

    FROM Habitacion

    WHERE Estado = 'Disponible'

    ORDER BY Numero;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_ListarReservas] Fecha de script: 16/08/2026 01:28:41 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ListarReservas]
AS
BEGIN
    SELECT
        R.IdReserva,
        R.IdCliente,
        C.Nombre AS NombreCliente,

        R.IdHabitacion,
        H.Numero AS NumeroHabitacion,
        H.Tipo AS TipoHabitacion,

        R.FechaEntrada,
        R.FechaSalida,
        R.CantidadDias,
        R.PrecioDia,
        R.Total,
        R.Estado,
        R.FechaRegistro

    FROM Reserva R

    INNER JOIN Cliente C
        ON R.IdCliente = C.IdCliente

    INNER JOIN Habitacion H
        ON R.IdHabitacion = H.IdHabitacion

    ORDER BY R.IdReserva DESC;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_MergeCliente] Fecha de script: 16/08/2026 01:28:41 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_MergeCliente]
@IdCliente INT,
@Dni VARCHAR(8),
@Nombre VARCHAR(100),
@Telefono VARCHAR(15),
@Correo VARCHAR(100)
AS
BEGIN

    MERGE Cliente AS TARGET

    USING
    (
        SELECT
            @IdCliente AS IdCliente,
            @Dni AS Dni,
            @Nombre AS Nombre,
            @Telefono AS Telefono,
            @Correo AS Correo
    ) AS SOURCE

    ON TARGET.IdCliente = SOURCE.IdCliente

    WHEN MATCHED THEN

        UPDATE SET
            TARGET.Dni = SOURCE.Dni,
            TARGET.Nombre = SOURCE.Nombre,
            TARGET.Telefono = SOURCE.Telefono,
            TARGET.Correo = SOURCE.Correo

    WHEN NOT MATCHED THEN

        INSERT
        (
            Dni,
            Nombre,
            Telefono,
            Correo
        )

        VALUES
        (
            SOURCE.Dni,
            SOURCE.Nombre,
            SOURCE.Telefono,
            SOURCE.Correo
        );

END
GO
/****** Objeto: StoredProcedure [dbo].[sp_MergeHabitacion] Fecha de script: 16/08/2026 01:28:41 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_MergeHabitacion]
@IdHabitacion INT,
@Numero VARCHAR(10),
@Tipo VARCHAR(50),
@Precio DECIMAL(10,2),
@Estado VARCHAR(20)
AS
BEGIN

    MERGE Habitacion AS TARGET

    USING
    (
        SELECT
            @IdHabitacion AS IdHabitacion,
            @Numero AS Numero,
            @Tipo AS Tipo,
            @Precio AS Precio,
            @Estado AS Estado
    ) AS SOURCE

    ON TARGET.IdHabitacion = SOURCE.IdHabitacion

    WHEN MATCHED THEN

        UPDATE SET
            TARGET.Numero = SOURCE.Numero,
            TARGET.Tipo = SOURCE.Tipo,
            TARGET.Precio = SOURCE.Precio,
            TARGET.Estado = SOURCE.Estado

    WHEN NOT MATCHED THEN

        INSERT
        (
            Numero,
            Tipo,
            Precio,
            Estado
        )

        VALUES
        (
            SOURCE.Numero,
            SOURCE.Tipo,
            SOURCE.Precio,
            SOURCE.Estado
        );

END
GO
/****** Objeto: StoredProcedure [dbo].[sp_RegistrarReserva] Fecha de script: 16/08/2026 01:28:41 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_RegistrarReserva]
@IdCliente INT,
@IdHabitacion INT,
@FechaEntrada DATE,
@FechaSalida DATE,
@CantidadDias INT,
@PrecioDia DECIMAL(10,2),
@Total DECIMAL(10,2)
AS
BEGIN

    BEGIN TRANSACTION;

    BEGIN TRY

        INSERT INTO Reserva
        (
            IdCliente,
            IdHabitacion,
            FechaEntrada,
            FechaSalida,
            CantidadDias,
            PrecioDia,
            Total,
            Estado
        )
        VALUES
        (
            @IdCliente,
            @IdHabitacion,
            @FechaEntrada,
            @FechaSalida,
            @CantidadDias,
            @PrecioDia,
            @Total,
            'Reservada'
        );


        UPDATE Habitacion
        SET Estado = 'Ocupada'
        WHERE IdHabitacion = @IdHabitacion;


        COMMIT TRANSACTION;

    END TRY

    BEGIN CATCH

        ROLLBACK TRANSACTION;

        THROW;

    END CATCH

END
GO
/****** Objeto: StoredProcedure [dbo].[sp_ReporteHabitaciones] Fecha de script: 16/08/2026 01:28:41 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ReporteHabitaciones]
AS
BEGIN

    SELECT
        IdHabitacion,
        Numero,
        Tipo,
        Precio,
        Estado

    FROM Habitacion

    ORDER BY Numero;

END
GO
/****** Objeto: StoredProcedure [dbo].[sp_ReporteReservas] Fecha de script: 16/08/2026 01:28:41 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ReporteReservas]
@FechaInicio DATE,
@FechaFin DATE
AS
BEGIN

    SELECT
        R.IdReserva,
        C.Nombre AS NombreCliente,
        H.Numero AS NumeroHabitacion,
        H.Tipo AS TipoHabitacion,

        R.FechaEntrada,
        R.FechaSalida,
        R.CantidadDias,
        R.PrecioDia,
        R.Total,
        R.Estado

    FROM Reserva R

    INNER JOIN Cliente C
        ON R.IdCliente = C.IdCliente

    INNER JOIN Habitacion H
        ON R.IdHabitacion = H.IdHabitacion

    WHERE R.FechaEntrada
    BETWEEN @FechaInicio AND @FechaFin

    ORDER BY R.FechaEntrada DESC;

END
GO
/****** Objeto: StoredProcedure [dbo].[sp_ReporteResumen] Fecha de script: 16/08/2026 01:28:41 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ReporteResumen]
@FechaInicio DATE,
@FechaFin DATE
AS
BEGIN

    SELECT
        COUNT(*) AS TotalReservas,

        SUM(
            CASE
                WHEN Estado = 'Finalizada' THEN 1
                ELSE 0
            END
        ) AS ReservasFinalizadas,

        SUM(
            CASE
                WHEN Estado = 'Cancelada' THEN 1
                ELSE 0
            END
        ) AS ReservasCanceladas,

        ISNULL(
            SUM(
                CASE
                    WHEN Estado = 'Finalizada'
                    THEN Total
                    ELSE 0
                END
            ),
            0
        ) AS TotalIngresos

    FROM Reserva

    WHERE FechaEntrada
    BETWEEN @FechaInicio AND @FechaFin;

END
GO
